.circle {
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 50%;

    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@for $iterator from 1 through 5 {
    .circle-#{$iterator}{
        animation-name: animation#{$iterator};
        
        @keyframes animation#{$iterator} {
            100%{
                transform: translate(50% * $iterator);
                border-radius: ($iterator * 5);
            }        
        }

        @if $iterator == 5 {
            animation-direction: alternate-reverse;
        }
    }
}